.selected-pokemons {
  float: left;
  margin: 10px 100px 0 50px;
  text-align: left;
}

.pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.pokemon-grid .box {
  width: 100%;
  height: 300px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  text-align: center;
  cursor: pointer;
}

.pokemon-grid .shadow {
  background-color: seagreen;
}

.pokemon-grid .box img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.button {
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  margin: 10px;
}

.clear {
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  width: 100px;
  margin: 10px;
}

li {
  list-style-type: none;
  padding-left: 2rem;
  background-image: url(../../../assets/pokeball.png);
  background-position: 0 0;
  background-size: 20px;
  background-repeat: no-repeat;
}
