
.footer_freeze {
    position:absolute;
    top:100%;
    transform: translateY(-100%);
    width:100%;
  height:200px;
  margin: 2em auto;
  border: 10px solid #F0F0FF;
  overflow: hidden;
  box-shadow: 0 .25em .5em rgb(182, 182, 182),inset 0 0 1em .25em rgb(182, 182, 182);
}
.footer_freeze > div {
    position:relative;
  padding-top: 5em; 
  margin-top:7%;
    animation: defilement-ver 10s normal;
    -webkit-animation-fill-mode: forwards;
}


.footer_message {
	font-size: 2em;
    line-height: 1.5em;
}

@keyframes defilement-ver {
    0% {
      transform: translateY(-90%);
    }
    100% {
      transform: translateY(-100%);
    }
}


